<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="displayLastModifMessage == true">
  <mat-label>Dernière modification par {{lastModification.renter.name}} le
    {{lastModification.date | date:"dd/MM/yyyy HH:mm"}} : {{lastModification.message}}</mat-label>
</div>
<br /><br />
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  <!-- Date entrée Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Entrée</th>
    <td mat-cell *matCellDef="let rent"> {{rent.period.startDate}} </td>
  </ng-container>

  <!-- Date sortie Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Sortie</th>
    <td mat-cell *matCellDef="let rent"> {{rent.period.endDate}} </td>
  </ng-container>

  <!-- Loueur Column -->
  <ng-container matColumnDef="renter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Loueur</th>
    <td mat-cell *matCellDef="let rent"> {{rent.renter.name}} </td>
  </ng-container>

  <!-- Appartment Column -->
  <ng-container matColumnDef="appartment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Appartement</th>
    <td mat-cell *matCellDef="let rent"> {{rent.appartment}} </td>
  </ng-container>

  <!-- Locataire Column -->
  <ng-container matColumnDef="client">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Locataire</th>
    <td mat-cell *matCellDef="let rent"> {{rent.client.name}}</td>
  </ng-container>

  <!-- Téléphone Column -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
    <td mat-cell *matCellDef="let rent"> {{rent.client.phoneNumber}}</td>
  </ng-container>

  <!-- Nb Occupants Column -->
  <ng-container matColumnDef="nbClient">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nb Occupants</th>
    <td mat-cell *matCellDef="let rent"> {{rent.nbClient}}</td>
  </ng-container>

  <!-- Ménage Column -->
  <ng-container matColumnDef="cleaning">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ménage</th>
    <td mat-cell *matCellDef="let rent">
      <mat-checkbox color="primary" [checked]="rent.cleaning"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Parking Column -->
  <ng-container matColumnDef="parking">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Parking</th>
    <td mat-cell *matCellDef="let rent">
      <mat-checkbox color="primary" [checked]="rent.parking"></mat-checkbox>
    </td>
  </ng-container>

  <!--  Column Site-->
  <ng-container matColumnDef="site">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
    <td mat-cell *matCellDef="let rent"> {{rent.site}}</td>
  </ng-container>

  <!--  Column Prix-->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
    <td mat-cell *matCellDef="let rent"> {{rent.price}}</td>
  </ng-container>

  <!--  Column Commentaires-->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Commentaires</th>
    <td mat-cell *matCellDef="let rent"> {{rent.comments}}</td>
  </ng-container>

  <!--  Column Actions-->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let rent">
      <button mat-icon-button (click)="displayUpdateRent(rent)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteRent(rent.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="payRent(rent)" *ngIf="renter.admin == true ">
        <mat-icon *ngIf="rent.paid == false">euro_symbol</mat-icon>
        <mat-icon *ngIf="rent.paid == true">cancel</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br />
<div>
  <button mat-fab color="primary" (click)="addNewRent()" type="button">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="displayBill()" type="button">
    <mat-icon>euro_symbol</mat-icon>
  </button>
</div>
<br />
<div *ngIf="displayNewRentForm == true">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nouvelle location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="newRentForm" (submit)="saveNewRent()">
        <div>
          <mat-form-field>
            <mat-label>Appartement</mat-label>
            <mat-select formControlName="appartment">
              <mat-option *ngFor="let appartment of appartments" [value]="appartment">
                {{appartment}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Date d'entrée" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Heure d'entrée" [ngxTimepicker]="fullTime" [format]="24" [value]="'15:00'"
              formControlName="startTime" readonly>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" placeholder="Date de sortie" required>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Heure de sortie" [ngxTimepicker]="fullEndTime" [format]="24" [value]="'11:00'"
              formControlName="endTime" readonly>
            <ngx-material-timepicker #fullEndTime></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="client" placeholder="Locataire" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="phoneNumber" placeholder="Téléphone" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="nbClient" placeholder="Nb Occupants" required />
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="cleaningChecked" formControlName="cleaning" required>Ménage
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" [(ngModel)]="parkingChecked" formControlName="parking" required>Parking
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="site" placeholder="Site" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="price" placeholder="Prix" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput formControlName="comments" placeholder="Commentaires" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button type="Save">Save</button>
        <button mat-raised-button (click)="cancelNewRent()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- UPDATE RENT-->
<div *ngIf="displayUpdateRentForm == true">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Modifier location</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="newRentForm" (submit)="updateRent(rent.id)">
        <div>
          <mat-form-field>
            <mat-label>Appartement</mat-label>
            <mat-select formControlName="appartment" [(ngModel)]="rent.appartment">
              <mat-option *ngFor="let appartment of appartments" [(value)]="appartment">
                {{appartment}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Date d'entrée"
              [value]="rent.period.startDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Heure d'entrée" [ngxTimepicker]="fullTime" [format]="24" [value]="'15:00'"
              formControlName="startTime" readonly>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" placeholder="Date de sortie"
              [value]="rent.period.endDate" required>
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Heure de sortie" [ngxTimepicker]="fullEndTime" [format]="24" [value]="'11:00'"
              formControlName="endTime" readonly>
            <ngx-material-timepicker #fullEndTime></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="client" placeholder="Locataire" [value]="rent.client.name" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="phoneNumber" placeholder="Téléphone" [value]="rent.client.phoneNumber"
              required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="nbClient" placeholder="Nb Occupants" [value]="rent.nbClient" required />
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox color="primary" formControlName="cleaning" [(ngModel)]="rent.cleaning" required>Ménage
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox color="primary" formControlName="parking" [(ngModel)]="rent.parking" required>Parking
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="site" placeholder="Site" [value]="rent.site" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput formControlName="price" placeholder="Prix" [value]="rent.price" required />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput formControlName="comments" placeholder="Commentaires" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
              [value]="rent.comments"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button type="Save">Save</button>
        <button mat-raised-button (click)="cancelNewRent()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="displayBillCard == true">
  <mat-card class="card">
    <mat-card-header style="justify-content: center; ">
      <mat-card-title>Ardoise</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <label>Ménage : {{renter.bill.cleaning}}€</label>
      </div>
      <div>
        <label>Frais de service : {{renter.bill.service}}€</label>
      </div>
      <div>
        <label>Total : {{renter.bill.service + renter.bill.cleaning}}€</label>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="displayBillCardAdmin == true">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile *ngFor="let r of renters">
      <mat-card class="card" style="width: 100%">
        <mat-card-header style="justify-content: center; ">
          <mat-card-title>{{r.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <label>Ménage : {{r.bill.cleaning}}€</label>
          </div>
          <div>
            <label>Frais de service : {{r.bill.service}}€</label>
          </div>
          <div>
            <label>Total : {{r.bill.service + r.bill.cleaning}}€</label>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>